<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDummyKeyForDemoPurposesOnly</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advmobdev_ta</string>
	<key>CLIENT_ID</key>
	<string>123456789012-abcdefghijklmnopqrstuvwxyz.apps.googleusercontent.com</string>
	<key>DATABASE_URL</key>
	<string>https://advmobdev-ta-default-rtdb.firebaseio.com</string>
	<key>GCM_SENDER_ID</key>
	<string>123456789012</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:123456789012:ios:abc123def456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>advmobdev-ta</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123456789012-abcdefghijklmnopqrstuvwxyz</string>
	<key>STORAGE_BUCKET</key>
	<string>advmobdev-ta.appspot.com</string>
</dict>
</plist>